nav.navbar.navbar-default.navbar-fixed-top.nav-height
    .navbar-header
        button.hamburger.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            .col-xs-12
                span.hamburger-text Menu
        a.navbar-brand(href='/challenges/current-challenge')
            img.img-responsive.nav-logo(src='/images/disasterhack.png', alt='learn to code javascript at Free Code Camp logo')
    .collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right.hamburger-dropdown

            //li.hidden-xs
            //    a#nav-chat-btn(href='//gitter.im/freecodecamp/freecodecamp' onclick="if (!(event.ctrlKey || event.metaKey)) {return false;}") Chat
            //li.visible-xs
            //    a(href="//gitter.im/freecodecamp/freecodecamp" target="_blank") Chat
            //li
            //    a(href='http://forum.freecodecamp.com', target='_blank') Forum
            li
                a(href='http://www.disasterhack.org',target="_blank") Home
            li
                a(href='http://www.disasterhack.org/about',target="_blank") About
                li
                    a(href='/map') Map
            //li
            //    a(href='/shop') Shop
            if !user
                li
                    a(href='/signin') Sign In
            else
                li.avatar-points
                    a(href='/settings')
                        span.brownie-points-nav
                            span.hidden-md.hidden-lg #{user.username}
                            span.brownie-points [&thinsp;#{user.points}&thinsp;]
                        span.hidden-xs.hidden-sm.avatar
                            img.profile-picture.float-right(src='#{user.picture}')
