
Greetings from Kathmandu, Nepal!
<br>
<br>
Congratulations on making the choice to learn how to code. It might just be the best decision you have ever made!
<br>
<br>
Hack School Code Camp is an open source platform to help everyone learn to code, no matter what part of the world you find yourself or what your skill level is.
<br>
<br>
We also two additional immersive course options for those of you who are serious about learning code.
<br>
1. Guru Guided: This online option pairs you with other students and teachers to give you a personalized education option at a very affordable rate.
<br>
2. Collaborative: This on-site option has you working with other students, gurus, and teachers at our Hackerspace in Kathmandu, Nepal.
<br>
(These options also include one-on-one professional development:CV's, Portfolios, Personal Branding, Business Communition, etc...)
<br>
<br>
You can read more about the different course options at <a href="www.disasterhack.org/">www.disasterhack.org</a> or send us an email at info@disasterhack.org
<br>
<br>
Now, get out there and start coding your future!
<br>
<br>
Please verify your email by following the link below:
<br>
<br>
<a href="<%= verifyHref %>"><%= verifyHref %></a>
<br>
<br>
"We Are A San Francisco Based Non-Profit Utilizing Technology to Develop Disaster Zones"

