Greetings from Kathmandu, Nepal!
<br>
<br>
Congratulations on making the choice to learn how to code. It might just be the best decision you ever make.
<br>
<br>
So good news, you are now registered and can start your free Self-Guided course right now by logging in  at <a href="www.hackschool.disasterhack.org" >www.hackschool.disasterhack.org</a>.
<br>
<br>
<Hack:School/> Code Camp is an open source platform to help everyone learn to code, no matter what part of the world you find yourself or what your skill level is.
<br>
<br>
We also two additional immersive course options for those of you who are really serious about learning code.
<br>
<br>
1. Guru Guided: This online option pairs you with other students and teachers to give you a personalized education option at a very affordable rate.
2. Collaborative: This on-site option has you working with other students, gurus, and teachers at our Hackerspace in Kathmandu, Nepal. If you are committed and have the time, this option is for you.
<br>
<br>
(Both of these options include job readiness assistance that will help you develop your portfolio, resume, job application skills, personal branding and other necessary non-technical skills needed to land your dream job.)
<br>
<br>
You can read more about the different course options at <a href="www.disasterhack.org/">www.disasterhack.org</a> or send us an email at info@disasterhack.org
<br>
<br>
Now, get out there and start coding your future!
<br>
<br>
Please verify your email by following the link below:
<br>
<br>
<a href="<%= verifyHref %>"><%= verifyHref %></a>
<br>
<br>
-The <Hack:School/> Code Camp Team
<br>
<br>
"We Are A San Francisco Based Non-Profit Utilizing Technology to Develop Disaster Zones"


